<header>
  <a href="http://ecolell.github.io"><div class="img-circular"></div></a>
  <h1>Eloy Adonis Colell</h1>
  <p>Degree in Information Systems</p>

  <div class="view social-links">
    <a href="https://github.com/ecolell">
      <div class="social github"></div></a>
    <a href="http://ar.linkedin.com/pub/eloy-colell/20/27/439/en">
      <div class="social linkedin"></div></a>
    <a href="http://www.twitter.com/ecolell">
      <div class="social twitter"></div></a>
    <a href="https://plus.google.com/+EloyAdonisColell/posts">
      <div class="social googleplus"></div></a>
    <a href="http://instagram.com/ecolell">
      <div class="social instagram"></div></a>
    <a href="http://stackoverflow.com/users/597743/ecolell">
      <div class="social stackoverflow"></div></a>
    <a href="skype:eloy.colell?call">
      <div class="social skype"></div></a>
    <a href="https://gratipay.com/ecolell/">
      <div class="social gratipay"></div></a>
  </div>
</header>
