.img-circular {
    width: 230px;
    height: 230px;
    background-image: url('/assets/images/pic.jpg');
    background-size: cover;
    display: block;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
}

h1 {
    margin-top: 1.5em;
}

.social-links {
    display: block;
}

.social-links a {
    width: 43px;
    height: 43px;
}

.social {
    display: inline-block;
    margin: 2px;
    width: 43px;
    height: 43px; 
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -webkit-filter: grayscale(100%);
}

.social:hover {
    -webkit-filter: sepia(0%) blur(1px) brightness(1.05) contrast(1.23);
}

.github {
  background: url("/assets/images/social.png") -546px -223px no-repeat;
}

.linkedin {
  background: url("/assets/images/social.png") -168px -331px no-repeat;
}

.twitter {
  background: url("/assets/images/social.png") -546px -547px no-repeat;
}

.googleplus {
  background: url("/assets/images/social.png") -61px -278px no-repeat;
}

.instagram {
  background: url("/assets/images/social.png") -6px -331px no-repeat;
}

.stackoverflow {
  background: url("/assets/images/social.png") -330px -547px no-repeat;
}

.skype {
  background: url("/assets/images/social.png") -438px -493px no-repeat;
}

.gratipay {
  background: url("/assets/images/social.png") -114px -709px no-repeat;
}
