.img-circular {
    width: 230px;
    height: 230px;
    background-image: url('http://ecolell.github.io/images/pic.jpg');
    background-size: cover;
    display: block;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
}

h1 {
    margin-top: 1.5em;
}

.social-links {
    display: block;
}

.social-links a {
    width: 71px;
    height: 71px;
}

.social {
    display: inline-block;
    margin: 2px;
    width: 70px;
    height: 70px;    
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -webkit-filter: sepia(50%);
}

.social:hover {
    -webkit-filter: sepia(0%) blur(1px) brightness(1.05) contrast(1.23);
}

.github {
  background: url("http://ecolell.github.io/images/social.png") -95px -107px no-repeat;
}

.linkedin {
  background: url("http://ecolell.github.io/images/social.png") -405px -31px no-repeat;
}

.twitter {
  background: url("http://ecolell.github.io/images/social.png") -18px -31px no-repeat;
}

.googleplus {
  background: url("http://ecolell.github.io/images/social.png") -561px -107px no-repeat;
}
